<!DOCTYPE html>
<html>
<head>
    <style type="text/css">{{s}}</style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>{{l}}</script>
    <script>{{i}}</script>
</head>

<body>
<nav>
    <ul>
        <li><a id='home' class="active">Home</a></li>
        <li class="dick">
            <a href="#dick">
                <div id="username">
                    dicks
                </div>
            </a>
        </li>

    </ul>
</nav>

<ul id="feed">
    <div id="log"></div>
</ul>

</body>
</html>
